<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="#{registrationPage}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/validation_css.css}">
</head>
<body>
<div class="registration-form">
    <h1 class="text-center" data-th-text="#{registrationPage}"></h1>
    <form th:method="POST" th:action="@{/auth/registration}" th:object="${personCreateDTO}">
        <div class="form-group">
            <div class="form-group text-center">
            <label for="username"><p data-th-text="#{reg.name}"></p></label>
            <input type="text" name="userName" id="username" class="form-control" th:field="*{userName}" required/>
            <div style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group text-center">
            <label for="password"><p data-th-text="#{reg.password}"></p></label>
            <input type="password" name="password" id="password" class="form-control" required/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        </div>
        </div>

        <div class="form-group">
            <div class="form-group text-center">
            <label for="age"><p data-th-text="#{reg.age}"></p></label>
            <input type="number" name="age" id="age" class="form-control" th:field="*{age}" required/>
            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
        </div>
        </div>

        <div class="form-group">
            <div class="form-group text-center">
            <label for="email"><p data-th-text="#{reg.email}"></p></label>
            <input type="email" name="email" id="email" class="form-control" th:field="*{email}" required/>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block" data-th-text="#{reg.reg}"></button>
    </form>
    <br>
    <p class="text-center">
        <a th:href="@{/auth/login}" class="text-muted" data-th-text="#{reg.log}"></a>
    </p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>