<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Регистрация</h1>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${personCreateDTO}">
    <label for="username">Имя пользователя:</label>
    <input type="text" name="userName" id="username" th:field="*{userName}"/>
    <div style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</div>
    <br/>

    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password" required/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>

    <label for="age">Возраст:</label>
    <input type="number" name="age" id="age" min="0" required th:field="*{age}"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br/>

    <label for="email">Электронная почта:</label>
    <input type="email" name="email" id="email" required th:field="*{email}"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>

    <input type="submit" value="Зарегистрироваться"/>
</form>

</body>
</html>