body {
    padding-bottom: 56px;
}

.sidebar {
    background-color: white;
    padding: 15px;
    height: 100vh;
}

.separator {
    border-left: 2px solid #007bff;
    height: 100%;
    margin: 0 15px;
}
