<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Просмотр задачи</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${taskDTO.id}"></td>
        <td th:text="${taskDTO.description}"></td>
        <td th:text="${taskDTO.status}"></td>
        <td> <a th:href="@{/tasks/edit/{id}(id=${taskDTO.id})}">Изменить</a></td>
        <td>
            <form th:method="DELETE" th:action="@{/tasks/{id}(id=${taskDTO.id})}">
                <button type="submit" class="delete-button" onclick="return confirm('Вы уверены, что хотите удалить эту задачу?');">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a href="/tasks">Обратно к задачам</a>
</body>
</html>