<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

</head>
<body>
<h1>Список задач</h1>
<form th:action="@{/logout}" th:method="POST">
    <button type="submit" class="logout">Выход</button>
</form>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks.content}">
        <td th:text="${task.id}"></td>
        <td> <a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.description}"></a></td>
        <td th:text="${task.status}"></td>
        <td> <a th:href="@{/tasks/edit/{id}(id=${task.id})}">Изменить</a></td>
        <td>
            <form th:method="DELETE" th:action="@{/tasks/{id}(id=${task.id})}">
                <button type="submit" class="delete-button" onclick="return confirm('Вы уверены, что хотите удалить эту задачу?');">Удалить</button>
        </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<div>
    <span>Страница: <span th:text="${tasks.number + 1}"></span></span>
    <span> из <span th:text="${tasks.totalPages}"></span></span>
</div>
<br>
<div>
    <a th:if="${tasks.hasPrevious()}" th:href="@{/tasks(page=${tasks.number - 1}, size=${tasks.size})}">Назад</a>
    <a th:if="${tasks.hasNext()}" th:href="@{/tasks(page=${tasks.number + 1}, size=${tasks.size})}">Вперед</a>
</div>
<br>
<a href="tasks/new">Создать новую задачу</a>
</body>
</html>